
body {
    font-family: Montserrat, Helvetica, sans-serif;

}

.page-1 {
    padding: 10%;
    background-size: 120%;
}

.page-2 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    background-color: rgb(233, 233, 233);
}

.page-3 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    background-size: 120%;
}

h1 {
    color: #233564;
    text-align: center;
}

table {
    text-align: left;
    border: 2px solid rgb(87, 86, 86);
    border-radius: 10px;
    width: 100%;
}

.td2 {
    text-align: left;
    padding-left: 15px;
    background-color: #f3f3f3;
    font-weight: 400;
    font-size: 120%;
}

td, th {
    border: 2px solid  rgb(87, 86, 86);
    border-radius: 10px;
    background-color: #f3f3f3;
    color: #233564;
    padding: 6px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 600;
    font-size: 130%;
}

footer {
    text-align: center;
    color:  rgb(68, 68, 68);
    border-top: 1px solid  rgb(68, 68, 68);
    padding-top: 10px;
}

a {
    font-weight: bold;
    font-size: 120%;
    padding: 4px;
    color: rgb(68, 68, 68);
}

menu {
    text-align: center;
    color: rgb(126, 126, 126);
    border-bottom: 1px solid  rgb(68, 68, 68);
    padding: 5px;
}

.quote {
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    font-size: 150%;
    color: #68492a;
}

p {
    color: #233564;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 120%;
}

img {
    display: block;
    margin: auto;
    width: 400;
}

form {
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 120%;
    color: #233564;
    font-weight:bolder;
    text-align: center;
}

input {
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 80%;
    border-radius: 10px;
    border-color:  rgb(68, 68, 68);
    border-width: 2px;
}

select {
    font-size: 100%;
    border-radius: 10px;
    border-color:  rgb(68, 68, 68);
    border-width: 2px;
}

textarea {
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 80%;
    border-radius: 15px;
    border-color:  rgb(68, 68, 68);
    border-width: 2px;
}

button {
    font-size: 100%;
    border-radius: 10px;
    border-color:  rgb(68, 68, 68);
    border-width: 2px;
    color:  rgb(68, 68, 68);
    width: 10%;
}
